$white:#FFF;
$black:#000;
$grayLight:#F5F5F5;
$grayDark:#1B1B1B;
$input-border-blue:#789ADE;
$input-bg-color:#D7D7D7;
$input-placeholder-color:#666;
$bg-blue:#036;
$bg-blue-light:#2196f3;
$linkedin-blue:#0A63BC;
$strike-border-color:#C8D3F9;
$red:#FF8682;

// Light theme
$button-primary:#28A745;